@font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");

}

@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");

}

@font-face {
    font-family: "Lato-Light";
    src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Italic";
    src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
}

:root{
    --accent-color: #F16D7F;
    --pink-color: #F1E4E6;
}
html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
h1, h2, h3, h4, h5, h6, p, ul, ol, figure, input, textarea, button {
    border-style: none;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.text-bold{
    font-family: "Lato-Bold", sans-serif;
}

.text-regular{
    font-family: "Lato-Regular", sans-serif;
}

.text-light{
    font-family: "Lato-Light", sans-serif;
}

.text-italic{
    font-family: "Lato-Italic", sans-serif;
}

.navigation {
    background-color: #222222;
}
.navigation__box{
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.navigation__left-block {
    display: flex;
    align-items: center; 
    gap: 41px;   
}
.navigation__left-block svg image{
    fill:var(--accent-color)
}
.navigation__search {
    background-color: #222222;
    cursor: pointer;
    width: 26px;
    height: 27px;
}

.navigation__right-block {
    display: flex;
    align-items: center; 
    gap: 33px;
}
.navigation__menu {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.navigation__menu-icon {
    background-color: #e8e8e8;
    width: 32px;
    height: 2px;
}
.navigation__profile {
    background-color: #222222;
    cursor: pointer;
    width: 29px;
    height: 29px;
}

.navigation__cart {
    background-color: #222222;
    cursor: pointer;
    width: 32px;
    height: 29px;
}

.header {
    background-color: var(--pink-color);
}

.header__main-block {
    max-height: 764px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-block__image-box{  
    margin-right: 60px;
}
.main-block__image {
    width: 100%; 
    height: 100%;
}
.main-block__right-block {
    height: 100%;
    min-width: 405px;
}

.main-block__right-block::before{
    content: "";
    background-color: var(--accent-color);
    width: 12px;
    height: 92px;
    float: left;
    margin-right: 16px;
}

.main-block__title-h1 {
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
}
.main-block__title-h2 {
    font-size: 32px;
    text-transform: uppercase;
}

.main-block__title-h2::after{
    content: " fashion";
    color: var(--accent-color);
}
/* .main-block__accent-color-text {
    color: var(--accent-color);
} */

.offer {
    padding: 65px 0 96px;
}
.offer__box {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.offer__card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 360px;
    background-size: cover;
    background-position: center;
    /* position: relative; */
}
.offer__box:last-child{
    flex-wrap: wrap;
}
.offer__card1 {
    background-image: url(../images/offer-image1.png);
}
.offer__card2 {
    background-image: url(../images/offer-image2.png);
}
.offer__card3 {
    background-image: url(../images/offer-image3.png);
}
.offer__card4 {
    width: 100%;
    height: 180px;
    background-image: url(../images/offer-image4.png);
}

.offer__accent-text {
    color: var(--accent-color);
}
.offer__title{
    opacity: 0;
    /* position: absolute;
    top: 1;
    bottom: 1;
    left: 1;
    right: 1;
    z-index: 1;
    opacity: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    transition: 0.5s ease;
}
.offer__dark-card {
    height: 100%;
    width: 100%;
    opacity: 0;
    /* position: absolute; */
    background-color: #211616b3;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.5s ease; */
}

.offer__card:hover .offer__title {
    opacity: 1;
}
.offer__card:hover .offer__dark-card {
    opacity: 0.8;
}

.products__title {
    color: #222222;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 6px;
}
.products__description {
    color: #9f9f9f;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 48px;
}
.products__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 30px;
    margin-bottom: 42px;
}
.products__card {
    max-width: 360px;
}
.products__image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 420px;
    background-size: cover;
    background-position: center;
    /* position: relative; */
}
.products__icon-cart{
    width: 26px;
    height: 24px;
}
.products__image-box-background1{
    background-image: url(../images/product1.png);
}
.products__image-box-background2{
    background-image: url(../images/product2.png);
}
.products__image-box-background3{
    background-image: url(../images/product3.png);
}
.products__image-box-background4{
    background-image: url(../images/product4.png);
}
.products__image-box-background5{
    background-image: url(../images/product5.png);
}
.products__image-box-background6{
    background-image: url(../images/product6.png);
}
.products__button-add-to-cart{
    
    /* position: absolute;
    top: 1;
    bottom: 1;
    left: 1;
    right: 1;
    z-index: 2; */
    opacity: 0;
    transition: 0.5s ease;
}
.products__text-add-cart{
    
}
.products__dark-background{
    /* position: absolute; */
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1; */
    opacity: 0;
    transition: 0.5s ease;
}

.products__image-box:hover .products__dark-background {
    background-color: #3a3838db;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.products__image-box:hover .products__button-add-to-cart {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 13px;
    color: rgb(255, 255, 255, 1);
    font-size: 14px;
    line-height: 17px;
    border: 1px solid #ffffff;
    background-color: transparent;
    cursor: pointer;
    opacity: 1;
}

.products__text{
    background-color: #f8f8f8;
    padding: 24px 16px;
}
.products__card-title {
    color: #000000;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.products__card-description {
    color: #5d5d5d;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
}
.products__card-price {
    color: var(--accent-color);
    font-size: 16px;
    line-height: 19px;
}
.products__button {
    display: block;
    width: 211px;
    height: 48px;
    margin: 0 auto;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    margin-bottom: 95px;
}

.feature {
    background-color: #222224;
}
.feature__items {
    min-height: 341px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.feature__item{
    max-width: 360px;
    min-height: 133px;
}
.feature__image {
    display: block;
    margin: 0 auto 19px;
}
.feature__title {
    color: #fbfbfb;
    font-size: 19.96px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
}
.feature__description {
    color: #fbfbfb;
    font-size: 13.97px;
    line-height: 17px;
    text-align: center;
}

.subscribe-info {
    position: relative;
}
.subscribe-info__bg-image{
    min-height: 448px;
    width: 100%;
    z-index: 0;
    opacity: 0.5;
}
.subscribe-info__block {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.subscribe-info__left-block {
    max-width: 360px;
    min-height: 225px;
}
.subscribe-info__avatar {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto 30px;
}
.subscribe-info__quote {
    color: #222224;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.subscribe-info__right-block {
    max-width: 557px;
    min-height: 142px;
}
.subscribe-info__title {
    color: #222224;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    text-transform: uppercase;
}
.subscribe-info__text {
    color: #222224;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.subscribe-info__input-subscribe {
    color: #222224;
    font-size: 14px;
    line-height: 17px;
    width: 256px;
    height: 49px;
    padding: 7px 64px 6px 22px;
    border-radius: 25px 0 0 25px;
}
.subscribe-info__button-subscribe {
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 100px;
    height: 49px;
    background-color: var(--accent-color);
    padding: 7px 7px 6px 8px;
    border-radius: 0 25px 25px 0;
}

.footer {
    background-color: #222224;
}
.footer__block{
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__rights {
    color: #fbfbfb;
    font-size: 16px;
    line-height: 19px;
}
.footer__block-icons {
    display: flex;
    gap: 7px;
}
.footer__box-icon {
    background-color: #ffffff;
    width: 32px;
    height: 32px;
    padding: 8px 11px;
    transition: all 0.3s;
}
.footer__box-icon:hover {
    background-color: var(--accent-color);
}
.footer__box-icon:hover path {
    fill: #ffffff;
}
